.env
/venv
{
    "refresh": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbl90eXBlIjoicmVmcmVzaCIsImV4cCI6MTc4NDE4OTIyNywiaWF0IjoxNzg0MTAyODI3LCJqdGkiOiI3NDZmNTdlNjU5ZDQ0OTJiODY2ODhiYjQzZjg5YTFlMiIsInVzZXJfaWQiOiI2In0.ARhOko2TNaICQQFct-u9h2nzQiVWGZAKmBOOCVz2Aeo",
    "access": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNzg0MTAzMTI3LCJpYXQiOjE3ODQxMDI4MjgsImp0aSI6IjE4NjU0YTFiNTdmYzQzMjU4YTMwM2YxNWMzNGM4MjY4IiwidXNlcl9pZCI6IjYifQ.G4hUyB6DCpZzZDuJl5xegB1WBB5A59VPAoj8ciO0iik"
}